<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/statics/css/style.css">
<body>

<h3>Login Form</h3>

<div>
  <form action="/form-submit-l" method='POST'>

    <label for="uname">User Name</label>
    <input type="text" id="uname" name="username" placeholder="Your username.." required>

    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Your password.." required>
    
    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>