<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/statics/css/table.css">
</head>
<body>

<table id="users">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>username</th>
    <th>password</th>
    <th>email</th>
    <th>gender</th>
    <th>Country</th>
  </tr>
  %for key,item in data:
    <tr>
      <td>{{ item['firstname'] }}</td>
      <td>{{ item['lastname'] }}</td>
      <td>{{ item['username'] }}</td>
      <td>{{ item['password'] }}</td>
      <td>{{ item['email'] }}</td>
      <td>{{ item['gender'] }}</td>
      <td>{{ item['country'] }}</td>
    </tr>
  %end
</table>

</body>
</html>